<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/formSelects-v4.css}"/>
    <link rel="stylesheet" th:href="@{/css/mystyle/mystyle.css}"/>
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body>
<div>
    <input type="hidden" id="userIds">
    <select xm-select="selectId" xm-select-search-type="title" xm-select-skin="normal" xm-select-search>
        <option value="5" th:each="user,userList:${userList}" th:value="${user.id}" th:utext="${user.userName}"
                th:selected="${user.projectId!=null}" th:disabled="${user.projectId!=null}"></option>

    </select>
</div>

<script type="text/javascript">
    layui.config({
        base: '/js/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    layui.use(['jquery', 'layer', 'element', 'table', 'form','formSelects'], function () {
        var $ = jQuery = layui.$;
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var formSelects = layui.formSelects;

        var userIds ="";
        formSelects.render('selectId');

        layui.formSelects.on('selectId', function(id, vals, val, isAdd, isDisabled){
            if(isAdd){
                userIds +=  "," + val.value;
            }else{
                userIds = userIds.replace("," + val.value,"");
            }
            $("#userIds").val(userIds);
        });


    });

</script>
</body>
</html>