<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
</head>

<body>
<div class="main">
    <div class="login">
        <h1>Task Manager</h1>
        <div class="inset">
            <!--start-main-->
            <form class="layui-form" action="/login" method="post">
                <div>
                    <span><input type="text" class="textbox" id="active" placeholder="用户名" name="userName"
                                 lay-verify="userName"></span>
                </div>
                <div>
                    <span><input type="password" class="password" placeholder="密码" name="password"
                                 lay-verify="password"></span>
                </div>
                <div class="layui-form-item" pane="">
                    <input type="checkbox" name="rememberMe" lay-skin="switch" lay-text="记住|不记住" lay-filter="switchBtn">
                    <div class="layui-unselect layui-form-switch" lay-skin="_switch"><em></em><i></i></div>
                </div>
                <div>
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="subBtn"
                            style="background-color: #66e6c7;">登录
                    </button>
                </div>

            </form>
        </div>
    </div>
    <!--//end-main-->
</div>
</body>

<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer, form = layui.form;
        form.render();
        //layer.msg('Hello World');

        form.verify({
            userName: function (value, item) { //value：表单的值、item：表单的DOM对象
                if ("" == value) {
                    return "用户名不能为空";
                }
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                /*if(/^\d+\d+\d$/.test(value)){
                    return '用户名不能全为数字';
                }*/
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            , password: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });

        //监听提交
        form.on('submit(subBtn)', function (data) {
            data.field.password = hex_md5(data.field.password);
            layer.msg(JSON.stringify(data.field));
            //return false;
        });

    });


</script>
</body>
</html>