<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>任务管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/mystyle/mystyle.css}"/>
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body style="overflow-y: scroll;">
<div>

    <div class="layui-card">
        <div class="layui-form layui-card-header layui-border-auto">
            <blockquote class="layui-elem-quote layui-quote-nm">
                项目名称：
               <div class="layui-inline">
                    <select id="projectId" name="pid" lay-verify="required" >
                        <option value="" th:if="${#lists.size(projectList)} >1 ">所有项目</option>
                        <option th:each="project,projectList:${projectList}" th:value="${project.id}"
                                 th:utext="${project.projectName}"></option>
                    </select>
               </div>
                任务编号：
                <div class="layui-inline">
                    <input class="layui-input" name="id" id="taskNo" autocomplete="off">
                </div>
                任务名称：
                <div class="layui-inline">
                    <input class="layui-input" name="id" id="taskName" autocomplete="off">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload" id="taskSearch"><i
                            class="layui-icon layui-icon-search"></i></button>
                    <shiro:hasPermission name="addTask">
                    <button class="layui-btn" data-type="reload" id="addTask"><i
                            class="layui-icon layui-icon-add-1"></i></button>
                    </shiro:hasPermission>
                </div>
            </blockquote>
        </div>
        <div class="layui-card-body">
            <table class="layui-form-item" id="taskList" lay-filter="taskList" ></table>
        </div>

    </div>


</div>
</body>
<script type="text/html" id="taskBar">
    <shiro:hasPermission name="updateTask">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
    </shiro:hasPermission>

</script>

<script type="text/html" id="taskType">
    {{#  if(d.taskType === 1){ }}
    <span style="color: #58aee6;font-weight: bold">需求</span>
    {{# } else if(d.taskType === 2) { }}
    <span style="color: #8ef5d1;font-weight: bold">子需求</span>
    {{#  } else { }}
    <span style="color: #f55953;font-weight: bold">BUG</span>
    {{#  } }}
</script>
<script type="text/html" id="taskStatus">
    {{#  if(d.taskStatus === 0){ }}
    <span class="layui-badge" style="background-color: #edc063;">待处理</span>
    {{# } else if(d.taskStatus === 1) { }}
    <span class="layui-badge" style="background-color: #52a9f5;">正在处理</span>
    {{# } else if(d.taskStatus === 2) { }}
    <span class="layui-badge" style="background-color: #5ed99f;">处理完成</span>
    {{# } else if(d.taskStatus === 3) { }}
    <span class="layui-badge" style="background-color: #52a9f5;">正在测试</span>
    {{# } else if(d.taskStatus === 4) { }}
    <span class="layui-badge" style="background-color: #54cd7f;">测试通过</span>
    {{# } else if(d.taskStatus === 5) { }}
    <span class="layui-badge" style="background-color: #19ad44">已上线</span>
    {{# } else if(d.taskStatus === 6) { }}
    <span class="layui-badge" style="background-color: #dcd43a">挂起</span>
    {{# } else if(d.taskStatus === 7) { }}
    <span class="layui-badge" style="background-color: #ff5459">作废</span>
    {{#  } }}
</script>
<script>
    layui.use(['jquery', 'layer', 'element', 'table', 'form','util'], function () {
        var $ = jQuery = layui.$;
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var util = layui.util;
        form.render();

        util.fixbar({
            bar1: '&#xe628;'
            ,bar2: false
            ,css: {right: 30, bottom: 30}
            ,bgcolor: '#009688'
            ,click: function(type){
                if(type === 'bar1'){

                }
            }
        });

        //方法级渲染
        table.render({
            elem: '#taskList'
            , id: 'taskTable'
            //,initSort: {field:'updateTime', type:'desc'}
            , url: '/task/taskDataList/' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {type: 'numbers', title: '序号', width: 60},
                    {field: 'taskNo', title: '任务编号',style:'font-weight: bold', unresize: true,sort: true},
                    {field: 'taskName', title: '任务名称', unresize: true},
                    {field: 'taskType', title: '任务类型',templet: '#taskType', unresize: true},
                    {field: 'taskStatus', title: '任务状态',templet: '#taskStatus', unresize: true,sort: true},
                    //{field: 'taskRemark', title: '任务描述', unresize: true},
                    {field: 'startDate', title: '开始时间', unresize: true,sort: true},
                    {field: 'endDate', title: '截止时间  ', unresize: true,sort: true},
                    {field: 'updateTime', title: '更新时间',width:150, unresize: true,sort: true},
                    //{field: 'createName', title: '创建人', unresize: true},
                    {fixed: 'right', title: '操作', unresize: true, toolbar: '#taskBar', width: 150}
                ]
            ]
        });


        var $ = layui.$, active = {
            reload: function () {
                var taskNo = $('#taskNo');
                var taskName = $('#taskName');
                var pid = $('#projectId');

                //执行重载
                table.reload('taskTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        pid: pid.val(),
                        taskNo: taskNo.val(),
                        taskName: taskName.val()
                    }
                });
            }
        };

        $('#taskSearch').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $("#addTask").click(function () {
            var projectId = $("#projectId").val();
            if(projectId ==""){
                layer.msg("请先选择项目");
                return;
            }
            layer.open({
                type: 2
                , offset: 'auto'
                , title: '新增任务'
                , id: 'layerDemo'
                , content: '/task/taskAdd?projectId='+projectId
                , btnAlign: 'c' //按钮居中
                , shade: 0.3 //不显示遮罩
                , anim: 1
                , area: ['50%', '90%']
                ,btn: ['保存', '取消']
                ,yes: function(index, layero){
                    var body = layer.getChildFrame('body', index);//通过该对象可以获取iframe中的dom元素
                    body.find("#submited").click();
                },no:function(index){
                    layer.close(index);
                }
            });
        });

        table.on('tool(taskList)', function (obj) {
            var data = obj.data;
            //task.log(obj)
            if (obj.event === 'edit') {
                layer.open({
                    type: 2
                    , offset: 'auto'
                    , title: data.taskName + '-任务信息'
                    , id: 'layerDemo'
                    , content: '/task/taskDetail?id=' + data.id
                    , btnAlign: 'c' //按钮居中
                    , shade: 0.3 //不显示遮罩
                    , anim: 1
                    , area: ['95%', '90%']
                });
            }
        });


        $(document).on('click', '#cancalBtn', function () {
            layer.closeAll();
        });



    });

</script>
</html>