<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>新建任务</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/formSelects-v4.css}"/>
    <link rel="stylesheet" th:href="@{/css/mystyle/mystyle.css}"/>
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body>
<div style="padding: 15px;">
    <form class="layui-form layui-form-pane" action="">
        <button id="submited" class="layui-btn layui-hide" lay-submit lay-filter="go" ></button>
        <input type="hidden" name="pid">
        <div class="layui-form-item">
            <label class="layui-form-label">任务名称</label>
            <div class="layui-input-block">
                <input type="text" name="taskName" lay-verify="name" placeholder="请输入任务名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane>
            <label class="layui-form-label">任务类型</label>
            <div class="layui-input-block" >
                <input type="radio" name="taskType" value="1" title="需求" checked>
                <input type="radio" name="taskType" value="3" title="bug">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务对象</label>
            <div class="layui-input-block">
                <select xm-select="selectId" lay-verify="user" xm-select-search-type="title" xm-select-skin="primary" xm-select-radio xm-select-search>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">任务描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入任务描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item ">
            <button type="button" class="layui-btn layui-btn-fluid" id="uploadImg"><i class="layui-icon">&#xe60d;</i>上传图片</button>
            <blockquote class="layui-elem-quote layui-quote-nm layui-hide" style="margin-top: 10px;">
                <div class="layui-upload-list" id="previewImg"></div>
            </blockquote>
        </div>
        <div class="layui-form-item ">
            <button type="button" class="layui-btn layui-btn-fluid" id="selectFiles"><i class="layui-icon">&#xe60a;</i>上传文件</button>
            <div class="layui-upload-list layui-hide" id="fileDiv">
                <table class="layui-table">
                    <thead>
                    <tr><th>文件名</th>
                        <th>大小</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody id="uploadFiles"></tbody>
                </table>
            </div>

        </div>
    </form>
</div>

<script type="text/javascript">
    layui.config({
        base: '/js/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    layui.use(['jquery', 'layer', 'element', 'table', 'form','formSelects','upload'], function () {
        var $ = jQuery = layui.$;
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var formSelects = layui.formSelects;
        element.init();
        form.render();
        formSelects.render('selectId');

        layui.formSelects.on('selectId', function(id, vals, val, isAdd, isDisabled){
        });

        var uploadInst = upload.render({
            elem: '#uploadImg' //绑定元素
            ,url: '/upload/uploadImg' //上传接口
            ,size:2048
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    var flag = true;
                    $("#previewImg").find("img").each(function(){
                            if(result == this.src){
                                flag = false;
                            }
                        }
                    );
                    if(flag){
                        $(".layui-elem-quote").removeClass("layui-hide");
                        $('#previewImg').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">');
                    }else{
                        return false;
                    }

                });
            }
            ,done: function(res){
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });

        //多文件列表示例
        var uploadFilesView = $('#uploadFiles')
            ,uploadListIns = upload.render({
            elem: '#selectFiles'
            ,url: '/upload/uploadImg'
            ,accept: 'file'
            ,multiple: true
            ,auto: true
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));
                    $("#fileDiv").removeClass("layui-hide");
                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    uploadFilesView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.code == 0){ //上传成功
                    var tr = uploadFilesView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = uploadFilesView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if ("" == value) {
                    return "任务名不能为空";
                }
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '任务名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '任务名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '任务名不能全为数字';
                }
            },
            user: function (value, item) { //value：表单的值、item：表单的DOM对象
                if ("" == value) {
                    return "请选择任务对象";
                }
            }

        });


    });

</script>
</body>
</html>