<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/mystyle/mystyle.css}"/>
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body style="overflow-y: scroll;">
<div >

   <div class="layui-card" >
     <div class="layui-form layui-card-header layui-border-auto">
         <blockquote class="layui-elem-quote layui-quote-nm">
            角色名称：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="roleReload" autocomplete="off">
            </div>
            <div class="layui-inline">
                <button class="layui-btn" data-type="reload" id="roleSearch"><i class="layui-icon layui-icon-search"></i></button>
                <shiro:hasPermission name="addRole">
                    <button class="layui-btn" data-type="reload" id="addRole"><i class="layui-icon layui-icon-add-1"></i></button>
                </shiro:hasPermission >
            </div>
         </blockquote>
     </div>
       <div class="layui-card-body">
           <table class="layui-form-item"  id="roleList" lay-filter="roleList"></table>
       </div>

   </div>


</div>
</body>
<script type="text/html" id="roleBar">
    {{#  if(d.id != 1){ }}
    <shiro:hasPermission name="updateRole">
    <a class="layui-btn layui-btn-xs" lay-event="edit" ><i class="layui-icon layui-icon-edit"></i></a>
    </shiro:hasPermission>
    <shiro:hasPermission name="deleteRole">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
    </shiro:hasPermission>
    {{#  } }}
</script>
<script type="text/html" id="addRoleBar">

        <form class="layui-form layui-form-pane" id="addRoleForm">
            <div class="layui-site-20">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-inline">
                    <input type="text" name="name" required lay-verify="name"  placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-btn-container" style="margin-top: 10px;margin-left: 110px">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="subBtn">保存</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary"  id="cancalBtn">取消</button>
            </div>
        </form>


</script>
<script>
    layui.use(['jquery', 'layer', 'element','table','form'], function(){
        var $ = jQuery = layui.$;
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        //方法级渲染
        table.render({
            elem: '#roleList'
            ,id:'roleTable'
            ,url: '/console/roleDataList/' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {type: 'numbers', title: '序号',width:60},
                    {field: 'name', title: '用户名',unresize:true,},
                    {fixed: 'right', title:'操作',unresize:true, toolbar: '#roleBar', width:150}
                ]
            ]
        });


        var $ = layui.$, active = {
            reload: function(){
                var roleReload = $('#roleReload');

                //执行重载
                table.reload('roleTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                            name: roleReload.val()
                    }
                });
            }
        };

        $('#roleSearch').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(roleList)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('确定删除‘'+ data.name+'’角色吗？', function(index){
                    $.post('/console/deleteRole',data,function(data){
                        layer.closeAll();
                        layer.msg(data);
                        obj.del();
                    });
                    return false;

                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2
                    ,offset: 'auto'
                    ,title: data.name+'-权限信息'
                    ,id: 'layerDemo'
                    ,content: '/console/permissionList?id='+data.id
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 0.3 //不显示遮罩
                    ,anim:1
                    ,area: ['90%', '80%']
                    ,btn: ['保存', '取消']
                    ,yes: function(index, layero){
                        var body = layer.getChildFrame('body', index);//通过该对象可以获取iframe中的dom元素
                        var perIds = "";
                        body.find("input[type='checkbox']:checked").each(function(){//获取选中的权限id
                            perIds += ","+$(this).attr("id");
                        });
                        if(perIds.length>0){
                            perIds = perIds.substr(1);
                        }
                        $.post("/console/savePermission",{perIds:perIds,roleId:data.id},function(result){
                            layer.msg(result);
                        });

                    },no:function(){
                        layer.closeAll();
                    }
                });
            }
        });

        $("#addRole").click(function(){
            layer.open({
                type: 1
                ,offset: 'auto'
                ,title: '新增角色'
                ,id: 'layerRole'
                ,content: $('#addRoleBar').html()
                ,btnAlign: 'c' //按钮居中
                ,shade: 0.3 //不显示遮罩
                ,anim:1
                ,resize: false
            });
            form.render();
        });

        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if ("" == value) {
                    return "角色名不能为空";
                }
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '角色名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '角色名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '角色名不能全为数字';
                }
            }

        });

        //监听提交
        form.on('submit(subBtn)', function(data){
            //ajax 提交
            $.post('/console/addRole',data.field,function(data){
                layer.closeAll();
                layer.msg(data);
                $("#roleSearch").click();
            });
            return false;
        });

        $(document).on('click','#cancalBtn',function(){
            layer.closeAll();
        });

    });

</script>
</html>