<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.tool.mapper.ProjectTaskMapper">
  <resultMap id="BaseResultMap" type="com.lei.tool.entity.ProjectTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_type" jdbcType="INTEGER" property="taskType" />
    <result column="task_status" jdbcType="INTEGER" property="taskStatus" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="task_remark" jdbcType="VARCHAR" property="taskRemark" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="docs" jdbcType="VARCHAR" property="docs" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <sql id="query">
    <where>
      <if test="pid != null">
        and a.pid = #{pid}
      </if>
      <if test="uid != null">
        and a.pid = #{uid}
      </if>
      <if test="parentId != null">
        and a.parent_id = #{parentId}
      </if>
      <if test="taskType != null and taskType != ''">
        and a.task_type = #{taskType}
      </if>
      <if test="taskStatus != null and taskStatus != ''">
        and a.task_status = #{taskStatus}
      </if>
      <if test="taskName != null and taskName != ''">
        and a.task_name = #{taskName}
      </if>
    </where>
  </sql>

  <select id="selectTasks" resultType="com.lei.tool.dto.TaskDto" parameterType="com.lei.tool.dto.TaskDto">
    select a.*,b.project_no as projectNo,c.user_name as userName from project_task a left join project_group b on a.pid = b.id left join u_user c on a.uid = c.id
  </select>

  <select id="selectTasksCount">
    select count(1) from project_task a left join project_group b on a.pid = b.id left join u_user c on a.uid = c.id
  </select>
</mapper>