<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lei.tool.mapper.ProjectTaskMapper" >
  <resultMap id="BaseResultMap" type="com.lei.tool.entity.ProjectTask" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="task_type" property="taskType" jdbcType="INTEGER" />
    <result column="task_status" property="taskStatus" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="task_remark" property="taskRemark" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="docs" property="docs" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>