<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lei.tool.mapper.ProjectGroupMapper" >
  <resultMap id="BaseResultMap" type="com.lei.tool.entity.ProjectGroup" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectByUser" resultMap="BaseResultMap">
    select a.* from project_group a left join project_group_user b on a.id = b.gid left join u_user c on c.id = b.uid
    <where>
      <if test="project != null and project.projectName != null and project.projectName != ''">
        and a.project_name = #{project.projectName}
      </if>
      <if test="project != null and project.projectNo != null and project.projectNo != ''">
        and a.project_no = #{project.projectNo}
      </if>
      <if test="user != null and user.id != null and user.id !=''">
        and c.id = #{user.id}
      </if>
    </where>
  </select>
  <select id="selectByUserCount" resultType="java.lang.Integer">
    select count(1) from project_group a left join project_group_user b on a.id = b.gid left join u_user c on c.id = b.uid
    <where>
      <if test="project != null and project.projectName != null and project.projectName != ''">
        and a.project_name = #{project.projectName}
      </if>
      <if test="project != null and project.projectNo != null and project.projectNo != ''">
        and a.project_no = #{project.projectNo}
      </if>
      <if test="user != null and user.id != null and user.id !=''">
        and c.id = #{user.id}
      </if>
    </where>
  </select>
</mapper>