<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.tool.mapper.UUserMapper">
  <resultMap id="BaseResultMap" type="com.lei.tool.entity.UUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="BIGINT" property="status" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>

    <select id="login" resultType="com.lei.tool.dto.UserDto">
      select a.*,c.id as roleId,c.name as roleName from u_user a left join u_user_role b on a.id=b.uid left join u_role c on b.rid=c.id
         where a.user_name = #{userName}
    </select>

  <select id="selectUserList"  resultType="com.lei.tool.dto.UserDto" parameterType="com.lei.tool.dto.UserDto">
      select a.*,c.id as roleId,c.name as roleName
    <if test="projectId != null and projectId != ''">
      ,d.is_admin as isAdmin
    </if>
    from u_user a left join u_user_role b on a.id=b.uid left join u_role c on b.rid=c.id
    <if test="projectId != null and projectId != ''">
      LEFT JOIN project_group_user d on d.uid = a.id left join project_group e on e.id =d.gid
    </if>
    <where>
      <if test="userName != null and userName != ''">
        and a.user_name = #{userName}
      </if>
      <if test="projectId != null and projectId != ''">
        and e.id = #{projectId}
      </if>
    </where>
    <if test="projectId != null and projectId != ''">
      order by d.is_admin
    </if>
  </select>

  <select id="selectUserCount" resultType="java.lang.Integer" parameterType="com.lei.tool.dto.UserDto">
      select count(1) from u_user a left join u_user_role b on a.id=b.uid left join u_role c on b.rid=c.id
    <if test="projectId != null and projectId != ''">
      LEFT JOIN project_group_user d on d.uid = a.id left join project_group e on e.id =d.gid
    </if>
    <where>
      <if test="userName != null and userName != ''">
        and a.user_name = #{userName}
      </if>
      <if test="projectId != null and projectId != ''">
        and e.id = #{projectId}
      </if>
    </where>
  </select>

    <select id="getUserCount" resultType="java.lang.Integer" >
        select count(1) from u_user
    </select>


</mapper>